<div class="row">
  <div class="col-md-6">
    <h2>Reservation Form</h2>

    <form id="reservation-form">
      <div class="restaurant-options">
        <label for="restaurant-options">Select a Restaurant:</label>
        <select id="restaurant-options" class="restaurant-options">
            <option value="Phở Hoà Noodle Soup">Phở Hoà Noodle Soup</option>
            <option value="Boiling Pot">Boiling Pot</option>
            <option value="Steak 48">Steak 48</option>
            <option value="The Pump House">The Pump House</option>
            <option value="Firebirds Wood Fired Grill">Firebirds Wood Fired Grill</option>
            <option value="Deluxe Fun Dining Restaurant">Deluxe Fun Dining Restaurant</option>
            <option value="Fahrenheit Charlotte">Fahrenheit Charlotte</option>
            <option value="Que Onda Tacos + Tequila Uptown">Que Onda Tacos + Tequila Uptown</option>
            <option value="The Capital Grille">The Capital Grille</option>
            <option value="The Fig Tree Restaurant">The Fig Tree Restaurant</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email-reservation">E-Mail:</label>
        <input class="form-input" type="text" id="email-reservation" />
      </div>
      <div class="form-group">
        <label for="fname-reservation">First Name:</label>
        <input class="form-input" type="text" id="fname-reservation" />
      </div>
      <div class="form-group">
        <label for="lname-reservation">Last Name:</label>
        <input class="form-input" type="text" id="lname-reservation" />
      </div>
      <div class="form-group">
        <label for="pnumber-reservation">Phone Number:</label>
        <input class="form-input" type="integer" id="pnumber-reservation" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Book your table!</button>
      </div>
    </form>
  </div>

  <script type="text/javascript" src="/js/reservation.js"></script>