<div class="row">
  <div class="col-md-6">
    <h2>Reservation Form</h2>

    <form id="reservation-form">
      <div class="form-group">
        <label for="email-reservation">E-Mail:</label>
        <input class="form-input" type="text" id="email-reservation" />
      </div>
      <div class="form-group">
        <label for="fname-reservation">First Name:</label>
        <input class="form-input" type="text" id="fname-reservation" />
      </div>
      <div class="form-group">
        <label for="lname-reservation">Last Name:</label>
        <input class="form-input" type="text" id="lname-reservation" />
      </div>
      <div class="form-group">
        <label for="pnumber-reservation">Phone Number:</label>
        <input class="form-input" type="integer" id="pnumber-reservation" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Book your table!</button>
      </div>
    </form>
  </div>

  <script type="text/javascript" src="/js/reservation.js"></script>